:root {
  --colorOne: #aaa;
  --colorTwo: #000;
  --colorThr: #aaa;
  --colorFou: #000;
  --colorFiv: #aaa;
  --colorSix: #000;
  --colorSev: #aaa;
  --colorEig: #000;
  --colorNin: #aaa;
  --colorTen: #000;
  --colorEle: #aaa;
  --colorTwe: #000;

  --width: 150px;
  --height: calc(var(--width) * 0.58);
  --margin: calc(var(--width) * 0.29);
  --border: calc(var(--width) / 2);
}

/* Extreme */
.extreme {
  font-size: 80px;
  cursor: pointer;
}

/* Hexagons Area */

.hexagon {
  position: relative;
  width: calc(var(--width));
  height: calc(var(--height));
  margin: calc(var(--margin)) 0;
  border-radius: 3px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-radius: 3px;
  border-left: calc(var(--border)) solid transparent;
  border-right: calc(var(--border)) solid transparent;
}

.hexagon:before {
  bottom: 100%;
}

.hexagon:after {
  top: 100%;
  width: 0;
}

.hexagon:hover {
  cursor: pointer;
}

/* Matched Element */

#matched {
  background-color: #fff;
  color: #fff;
}

#matched:before {
  border-bottom: calc(var(--margin)) solid transparent;
}

#matched:after {
  border-top: calc(var(--margin)) solid transparent;
}

/* Hexagon One */

.h-one {
  background-color: var(--colorOne);
}

.h-one:before {
  border-bottom: calc(var(--margin)) solid var(--colorOne);
}

.h-one:after {
  border-top: calc(var(--margin)) solid var(--colorOne);
}

/* Hexagon Two */

.h-two {
  background-color: var(--colorTwo);
}

.h-two:before {
  border-bottom: calc(var(--margin)) solid var(--colorTwo);
}

.h-two:after {
  border-top: calc(var(--margin)) solid var(--colorTwo);
}

/* Hexagon Three */

.h-thr {
  background-color: var(--colorThr);
}

.h-thr:before {
  border-bottom: calc(var(--margin)) solid var(--colorThr);
}

.h-thr:after {
  border-top: calc(var(--margin)) solid var(--colorThr);
}

/* Hexagon Four */

.h-fou {
  background-color: var(--colorFou);
}

.h-fou:before {
  border-bottom: calc(var(--margin)) solid var(--colorFou);
}

.h-fou:after {
  border-top: calc(var(--margin)) solid var(--colorFou);
}

/* Hexagon Five */

.h-fiv {
  background-color: var(--colorFiv);
}

.h-fiv:before {
  border-bottom: calc(var(--margin)) solid var(--colorFiv);
}

.h-fiv:after {
  border-top: calc(var(--margin)) solid var(--colorFiv);
}

/* Hexagon Six */

.h-six {
  background-color: var(--colorSix);
}

.h-six:before {
  border-bottom: calc(var(--margin)) solid var(--colorSix);
}

.h-six:after {
  border-top: calc(var(--margin)) solid var(--colorSix);
}

/* Hexagon Seven */

.h-sev {
  background-color: var(--colorSev);
}

.h-sev:before {
  border-bottom: calc(var(--margin)) solid var(--colorSev);
}

.h-sev:after {
  border-top: calc(var(--margin)) solid var(--colorSev);
}

/* Hexagon Eight */

.h-eig {
  background-color: var(--colorEig);
}

.h-eig:before {
  border-bottom: calc(var(--margin)) solid var(--colorEig);
}

.h-eig:after {
  border-top: calc(var(--margin)) solid var(--colorEig);
}

/* Hexagon Nine */

.h-nin {
  background-color: var(--colorNin);
}

.h-nin:before {
  border-bottom: calc(var(--margin)) solid var(--colorNin);
}

.h-nin:after {
  border-top: calc(var(--margin)) solid var(--colorNin);
}

/* Hexagon Ten */

.h-ten {
  background-color: var(--colorTen);
}

.h-ten:before {
  border-bottom: calc(var(--margin)) solid var(--colorTen);
}

.h-ten:after {
  border-top: calc(var(--margin)) solid var(--colorTen);
}

/* Hexagon Eleven */

.h-ele {
  background-color: var(--colorEle);
}

.h-ele:before {
  border-bottom: calc(var(--margin)) solid var(--colorEle);
}

.h-ele:after {
  border-top: calc(var(--margin)) solid var(--colorEle);
}

/* Hexagon Twelve */

.h-twe {
  background-color: var(--colorTwe);
}

.h-twe:before {
  border-bottom: calc(var(--margin)) solid var(--colorTwe);
}

.h-twe:after {
  border-top: calc(var(--margin)) solid var(--colorTwe);
}
