@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Ubuntu:wght@300;700&display=swap");

/* 
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
*/

:root {
  --mainColor: #fff;
  --bgColor: #fff;
  --uiColor: #000;
  --size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bgColor);
  font-family: "Ubuntu", sans-serif;
}

header {
  height: 10vh;
  padding: 3%;
  color: #fff;
  font-size: 36px;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

header span {
  color: var(--bgColor);
}

main {
  padding: 3%;
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

aside,
section {
  border-radius: 3px;
  box-sizing: border-box;
}

aside {
  width: 23%;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #f0f0f0;
  border: 2px solid #fff;
  background-color: var(--uiColor);
}

section {
  background-color: transparent;
  width: 75%;
  display: flex;
}

#round-s {
  position: absolute;
  margin-left: 45%;
  width: 25vw;
  box-sizing: border-box;
  line-height: 200%;
  align-items: center;
  font-size: 16px;
  transform: translateY(15vh);
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

#round-s div {
  display: flex;
  justify-content: center;
  width: 80%;
  border-radius: 5px;
}

#info {
  margin: 5%;
  cursor: pointer;
}

#instructions {
  width: 20%;
  padding: 1%;
  line-height: 200%;
  border: 2px solid #e0e0e0;
  border-radius: 1px;
  position: absolute;
  transform: translate(50%, -4%);
  background-color: var(--uiColor);
  transition: opacity 1s, border-radius 0.5s, transform 1s;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#instructions span {
  font-weight: 700;
  color: #fff;
}

#info ul {
  list-style: none;
}

.ui fieldset {
  border: none;
  margin: 5%;
}

.ui fieldset div {
  margin: 5%;
}

.ui legend {
  font-weight: 700;
}

#next,
#reset {
  border: 1px solid transparent;
  margin: 5%;
  padding: 2%;
  font-family: "Ubuntu", sans-serif;
  border-radius: 2px;
  background-color: #fff;
}

.ui #start,
.ui #new {
  border: 1px solid transparent;
  margin: 5%;
  padding: 3%;
  font-family: "Ubuntu", sans-serif;
  border-radius: 2px;
}

#next:hover,
#reset:hover,
.ui #start:hover,
.ui #new:hover {
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  background-color: var(--uiColor);
}

.score {
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

#main-color {
  color: var(--mainColor);
  font-size: 370px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-color p:hover {
  cursor: default;
}

#color-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.element {
  cursor: pointer;
  font-size: var(--size);
  margin: 1%;
}

#matched {
  color: transparent;
}

footer {
  width: 21%;
  padding: 1%;
  text-align: right;
}

footer h4 a {
  color: #000;
}

.clear {
  display: none;
}
